.contactEdit {
  background: #f8f8f8;
  width: fit-content;
}

.contactEdit__content {
  padding: 30px 80px;
  text-align: center;
  background: white;
}

.contactEdit__field {
  display: block !important;
  margin: 15px !important;
}

.MuiOutlinedInput-root {
  width: 100%;
}

form > button {
  text-transform: inherit !important;
  background: #5193f1 !important;
  color: white !important;
  margin: 20px 10px 5px 10px;
}

@media screen and (max-width: 992px) {
  .contactEdit__container {
    width: 90%;
  }

  .contactEdit__field {
    margin: 15px 10px 0 0 !important;
  }
}
